@{
    ViewData["Title"] = "Bank";
}
<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card mb-3" style="max-width: 550px">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="~/img/mnBank.png"
                     class="img-fluid rounded-start"
                     alt="Imagen de la tarjeta" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Bienvenido</h5>

                    <p class="card-text">Mantén tu plata segura con nosotros.</p><br>

                    <!-- Contenedor para centrar el botón -->
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-primary"
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Menu1">Iniciar</a>

                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>