@{
    ViewData["Title"] = "Menu Ahorros";
}
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Retirar</h5>
                    <p class="card-text">Recuerde verificar bien sus retiros antes de realizarlos.</p>
                    <input type="text" name="monto1" id="monto1" />
                    <div>
                        <a href="#" class="btn btn-primary mt-3">Retirar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Depositar</h5>
                    <p class="card-text">No deposites en cuentas de personas que no conoces.</p>
                    <input type="text" name="monto" id="monto2" />
                    <div>
                        <a href="#" class="btn btn-primary mt-3">Depositar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-4">
            <a href="index1" class="btn btn-primary btn-sm px-4">Salir</a>
            <a href="Menu_corriente" class="btn btn-primary btn-sm mt_3">Cuenta corriente</a>
            <a href="/Movimientos" class="card-link px-4">Ver movimientos</a>
        </div>
    </div>
</div>